.proposalComponent_card_content{
    display:flex;
    justify-content: space-around;
    padding:4px
    ;
}
.proposalComponent_card{
    background-color:lightgray;
    padding-top: 8px;
    padding:10px;
  
  
}

.comments{
    border:2px solid lightgray;
    display:flex;
    align-items: center;
    justify-content:flex-start;
}


.input_comment{
    padding: 10px;width:86%;border:none
}

.input_comment:hover{
    border:none
}
.card_review_component{
   display:flex;
   justify-content: space-between;
}

.card_content_component{
    padding-top: 22px;
    padding: 13px;
    justify-content: center;
    font-size:14px;
}

.card_review_component_text{
   margin-top: -10px;
}

.btn1{
background-color: white
}

.btn_same{
    background-color: #45C1A1;
}
.btn_same,.btn1{
    width:130px
}