.proposal_component_right{
    /* border:2px solid green; */
    padding-top:70px;
}
.Proposal{display: flex;flex-wrap: wrap;justify-content:center;}

.slider{
    width:86%;
    height:360px
}

.slider_down_border,.slider_down_image1{
    /* border:2px solid blue; */
    width:200px;
    height:140px;
    padding: 10px;
}
.slider_down_images{
    padding: 25px;

}



@media only screen and (max-width: 600px) {
    .carouse{width:fit-content;margin-left: 12px!important;}
    .slider_down_images{margin-bottom: 50px!important;}
    .slider_down_border{width:350px;
    }
    .slider_down_image1{width:110px!important;
        /*
         border:2px solid green */
    }

      .proposal_component_right{padding: 0;display: flex;flex-direction: column;flex-wrap: wrap;}


  }


@media only screen and (max-width: 480px) {
    .carousel-inner,#carouselExampleIndicators{width: 350px !important;text-align: center!important;margin-left: 12px;margin-right: 5px;}
   .proposal_component_right{border:1px solid blue;;}
   .carousel-control-prev-icon{margin-left: 22px!important;}

  }

  @media only screen and (max-width: 357px) {
.Proposal{width:280px;justify-content: center;}
.proposal_component_right{
  text-align: center;

}
.Proposal_title{
    justify-content: center;
    
    display:flex;
 
}

.btn{
    width:90%;
    font-size:11px;
}
.title_responsive{font-size:16px !important;}
#title_responsive{font-size: 13px!important;}
.proposal_card_div{
    text-align: center;
    display:flex;
    justify-content:center;
    width:90%;
    margin-left: 14%;
    
}

.proposal_component_main{
    display:flex;
    text-align: center;
    margin-left: 10%;

}
  }