.Proposal{
    display:flex;
    justify-content:center;
    /* border:2px solid blue; */
    flex-wrap:wrap;
}

.Proposal_content_left{
    /* border:2px solid red; */
    flex:.5;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items: center; */
    padding:30px;
    flex-wrap: wrap;
}
.Proposal_title{text-align:start;margin-left:120px;}
.Proposal_left_title{
    color:blue;
    font-size:17px;
}

.Proposal_card{padding:20px;width:500px}

.proposal_card_div{
/* text-align: end; */
display: flex;
justify-content: flex-end;
}

.card_content{
    display: flex;
    justify-content: space-between;

}


.Proposal_left_titleSpan{
    font-size:17px;
    color:green
}

.Proposal_content_right{
    /* border:2px solid red; */
    flex:.5
}

#hr{
   border:1px solid lightgray
  ;display:flex
}

.card_contentLast_row{
    display:flex;
    justify-content: space-around;
    align-items: flex;
    padding-top: 10px;
}

.card_icon_space{
    padding-left:4px;
}

.proposal_component_card{
    /* border:2px solid green; */
    width:500px;
    padding:20px
}

.card_content_component{
    display: flex;flex-direction: column;
}

.proposal_component_main{
    display:flex;
    /* border:2px solid green; */
    justify-content:flex-end;
    margin-top:15px;
}

@media only screen and (max-width: 600px) {
    .Proposal_card{
    width:200px;font-size: 14px;
    }
    .Proposal_title{margin-left: 0;}
  }