.proposal_component_right{
    /* border:2px solid green; */
    padding-top:70px;
}


.slider{
    width:86%;
    height:360px
}

.slider_down_border,.slider_down_image1{
    /* border:2px solid blue; */
    width:200px;
    height:140px;
    padding: 10px;
}
.slider_down_images{
    padding: 25px;

}

