.post_home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post_home > div {
  width: 400px;
}

.post_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_header img {
  width: 110px;
  object-fit: contain;
}

.post_header h2 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.post_header p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.category_select {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cs_text h2 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.cs_tabs_main {
  display: flex;
  justify-content: space-between;
}

.cs_tab {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cs_tab_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  border-radius: 5px;
  height: 130px;
  box-shadow: 1px -1px 10px -3px #ccc;
}

.cs_tab_box img {
  width: 60%;
}

.cs_tab_text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cs_tab_text h2 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.cs_tab_text p {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.pcontinue_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pcontinue_btn button {
  width: 120px;
  height: 35px;
  font-size: 0.9rem;
  border-radius: 5px;
}

/* post report */

.pr_frorm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pr_frorm input {
  height: 40px;
  border: 1px solid #20c0a0 !important;
  border-radius: 3px;
  margin: 0.3rem 0;
  padding-left: 1rem;
  outline: none;
  font-size: 0.9rem;
  text-align: left;
}

.pr_frorm input::placeholder {
  color: #8792af;
}

.pr_frorm .c_textarea textarea {
    height: 90px;
    font-size: 0.9rem;
}

.pr_frorm span {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.pmap {
    width: 100%;
    margin: 0.2rem 0 2rem 0;
}