.RantComponent_card_content{
    display:flex;
    justify-content: space-around;
    padding:4px
    ; 
}
.RantComponent_card{
    background-color:lightgray;
    padding-top: 8px;
    padding:10px;
    box-shadow: 1px -1px 10px -3px #ccc;
    /* background-color:#F5F5F9; */
  
  
}
.Rant_component_card{
    
   
}

.Rcomments{
    border:2px solid lightgray;
    display:flex;
    align-items: center;
    justify-content:flex-start;
}


.Rinput_comment{
    padding: 21px;width:85%;border:none
}

.Rinput_comment:hover{
    border:none
}
.Rcard_review_component{
   display:flex;
   justify-content: space-between;
   font-size: 0.8rem;
}

.Rcard_content_component{
    padding-top: 22px;
    padding: 13px;
    justify-content: center;
    font-size:14px;
}

.Rcard_review_component_text{
   margin-top: -12px;
}

.Rbtn1:focus{
background-color: #45C1A1!important;color:white !important;
}
.Rbtn_same2:focus{background-color: #45C1A1!important;color:white !important;}
.Rbtn_same:focus{
    background-color: #45C1A1!important;color:white !important;
}

.Rbtn_same,.btn1{
    width:130px
}




@media only screen and (max-width: 600px) {
    .Rant_component_card{
    width:350px;font-size: 14px;height:370px;padding-bottom: 10px;
    }
   .Rbtn_same,.btn1{
          width:80px!important;font-size: 11px!important;
   }
.Rbtn_same2{ width:97px!important;font-size: 11px!important;}
   .Ricon_responsive{
       font-size: 17px!important;
       width:16px!important
   }


   .Rinput_comment{padding:20px!important;width:78%}

   /* .responsive_send_icon{
       font-size: 12px!important;
   } */

   .Rcard_content_component{
    overflow-y: scroll;
   }
  }